# Ambiente virtual
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de banco
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# Logs e caches
*.log
.cache/

# Sistema operacional
.DS_Store
Thumbs.db
